{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/jquery.textfill/0.6.0/jquery.textfill.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scroll_down.css') }}">
<style>

.white-text {
    color: white;
    //text-shadow: 1px 1px black;
    text-align: center;
}

.big-circle-text {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    text-align: center;
    width: 40vh;
    height: 7vh;
}

.small-circle-text {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    text-align: center;
    width: 15vh;
    height: 6vh;
}


.big-circle {
    position: relative;
    width: 45vh;
    height: 45vh;
    background-color: #ac5;
    border-radius: 50%;
    margin: 30px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    background: radial-gradient(circle at center, #45A29E 64%,rgba(0,0,0,0) 80%);
}


.bgimg {
//    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    //background-image: url("{{ url_for('static', filename='stripe.jpg') }}");  
    height: 100%;
    background-color: #f3e9d2;
}

.image-section-1 {
    background-image: url("{{ url_for('static', filename='material-bg/' ~ images[0] ~ '.jpg') }}");  
}

.image-section-2 {
    background-image: url("{{ url_for('static', filename='material-bg/' ~ images[1] ~ '.jpg') }}");  
}

.image-section-3 {
    background-image: url("{{ url_for('static', filename='material-bg/' ~ images[2] ~ '.jpg') }}");  
}

.image-section-4 {
    background-image: url("{{ url_for('static', filename='material-bg/' ~ images[3] ~ '.jpg') }}");  
}

.small-circle {
    position: absolute;
    text-align: center;
    width: 17vh;
    height: 17vh;
    line-height: 17vh;
    //background-color: #ac5;
    border-radius: 100px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    background: radial-gradient(circle at center, #66FCF1 64%,rgba(0,0,0,0) 80%);
    cursor: pointer;
}

.page-section {
    height: 100vh;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}

#Matthew-Cook {
    height: 100vh;
    //background-color: green;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
}


</style>


{% endblock %}





{% block content %}
<div id="Matthew-Cook" class="bgimg image-section-1">
        <div class="big-circle">
            <div class="big-circle-text">
                <span class="white-text"> Matthew Cook </span>
            </div>
        </div>
        <a href="#" class="scroll-down" address="true"></a>
</div>
<div class="page-section" id="About">

    <div class="container">
        <h1> wow </h1>
    </div>
</div>

<div class="page-section bgimg image-section-2" id="Career">

</div>

<div class="page-section" id="Education">

</div>

<div class="page-section bgimg image-section-3" id="Interests">

    <div class="container">
        wow oooooweee wow that's some goooood stuff
        <br> <br> <br> <hr>
        oooooooweee 
        <br>
    </div>

</div>

<div class="page-section" id="Resume">

</div>

<div class="page-section bgimg image-section-4" id="Contact">



    <div class="container">
    <div class="float-right" id="notifs">

    </div>
    <h2 class="float-left"> Contact </h2>
        <br>
        <br>
    <div id="form-content"> 
        <form method="post" id="contact-form" action="{{url_for('me')}}" class="form-control">
        <br>Name
        <div class="form-group">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <br>Email
        <div class="form-group">
            <label class="sr-only" for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <br>Message
        <div class="form-group">
            <label class="sr-only" for="message">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="5"></textarea>
        </div>

        <br>
        <center>
        <button type="submit" id="send" class="btn btn-info">Send</button>
    </center>
    </form>
    </div>
    </div>

<!--    <div class="big-circle"></div>
-->
</div>

<div hidden class="small-circle" id="reference">
</div>

<script src="{{ url_for('static', filename='js/me.js') }}"></script>
<script type="text/javascript">
    make_satellites('big-circle', {{circles|safe}});

    var wait;

    window.onresize = function() {
        clearTimeout(wait);
        wait = setTimeout(function() {
                remake_satellites('big-circle', {{circles|safe}});
                }, 100);
    };

</script>


{% endblock %}
