{% extends "base.html" %}

{% block head %}

<style>


</style>

<script src="{{ url_for('static', filename='js/status.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="float-right w-25" id="errors">

    </div>
    <center>

    <div class="container w-50">
    <button type="button" class="btn btn-secondary float-right" id="form-toggle">Toggle View</button>
    <h2 class="float-left"> Automated Service Check </h2>
        <br>
        <br>
    <div id="form-content"> 
        <form method="post" id="top-form" action="{{url_for('status') }}" class="form-control">
        <div class="form-group">
            <label class="sr-only" for="region">Select region:</label>
            <select class="form-control" id="region" name="region">
                <option value="" disabled selected>Region</option>
                {% for region in regions %}
                    <option>{{ region }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label class="sr-only" for="component">Select component:</label>
            <select class="form-control" id="component" name="component">
                <option value="" disabled selected>Component</option>
                {% for component in components %}
                    <option>{{ component }}</option>
                {% endfor %}
            </select>
        </div>

        <label class="custom-control custom-radio">
              <input id="queue" name="queue" type="radio" class="custom-control-input" disabled>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Display queue listener info</span>
        </label>
        <br>
        <button type="submit" id="check-status" class="btn btn-info">Status</button>
    </form>
    </div>
    </div>


    <br>

    {% if msvcs or webapp %}
    <div class="dark-container">
    <h2 class="float-left">{{region}}</h2>
    <br><br>
    {% endif %}


    {% if msvcs %} 
    <br>
    <div class="container w-75">
    <h2 class="float-left"> Microservices </h2>
    <button type="button" class="btn btn-secondary float-right" id="msvc-toggle">Toggle View</button>
    <div class="w-25  alert alert{% if num_msvcs_down == 0 %}-success{% elif num_msvcs_up >= num_msvcs_down %}-warning{% else %}-danger{% endif %}" role="alert">
        {{ num_msvcs_up }} passed, {{ num_msvcs_down }} failed.
    </div>
    <div id="msvc-content">
    <table class="table data">
        <thead>
            <tr>
                <th>Component</th>
                <th>URL</th>
                <th>Status</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in msvcs %}
            <tr {% if entry["status"] in ["UP", "NORMAL"]%}class="table-success"{% else %}class="table-danger"{% endif %}>
                <td>{{ entry["component"] }}</td>
                <td><a href="{{entry["url"]}}">{{ entry["url"] }}</a></td>
                <td>{{ entry["status"] }}</td>
                <td>{{ entry["version"] }}</td>
            </tr>
            {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}



    {% if webapp %} 
    <br>
    <div class="container w-75">
        <h2 class="float-left"> Webapp  </h2>
    <button type="button" class="btn btn-secondary float-right" id="webapp-toggle">Toggle View</button>
    <div class="w-25 alert alert{% if num_webapp_down == 0 %}-success{% elif num_webapp_up >= num_webapp_down %}-warning{% else %}-danger{% endif %}" role="alert">
        {{ num_webapp_up }} passed, {{ num_webapp_down }} failed.
    </div>
    <div id="webapp-content">
    <table class="table data">
        <thead>
            <tr>
                <th>Component</th>
                <th>URL</th>
                <th>Status</th>
                {% if queue %}
                <th>Queue</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for entry in webapp %}
            <tr {% if entry["status"] in ["UP", "NORMAL"]%}class="table-success"{% else %}class="table-danger"{% endif %}>
                <td>{{ entry["component"] }}</td>
                <td><a href="{{entry["url"]}}">{{ entry["url"] }}</a></td>
                <td>{{ entry["status"] }}</td>
                {% if queue %}
                <td>{{ entry["queue"] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    </div>
    </div>
    {% endif %}

    {% if msvcs or webapp %}
</div>
    {% endif %}


</center>

{% endblock %}
